.todo-area{
  grid-row-start: 2;
  overflow: scroll;
  max-height: 620px;
}

.root-area{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  min-height: 100vh;
  background-color: #2B3A55;
}

.center-grid {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  overflow: scroll;
}

.form-grid{
  grid-row-start: 1;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.form-area{
  position: relative;
  grid-row-start: 2;
}

@media screen and (max-width: 600px) {
  .root-area {
    grid-template-columns: 1fr;
  }
  .center-grid {
    padding: 10px;
    grid-column-start: 1;
  }
  .todo-area{
    max-height: 420px;
  }
}