.popup{
    position: fixed;
    left: 35%;
    top: 40%;
    z-index: 1;
    width: 30%;
    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.button-container{
    margin-bottom: 0.5em;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: 1px solid black;
    width: 70px;
    height: 40px;
    background-color: white;
    text-align: center;
}
button:hover{
    background-color: gray;
}

@media screen and (max-width: 600px) {
    .popup{
        left: 25%;
        top: 40%;
        z-index: 1;
        width: 50%;
    }
    button{
        width: 30px;
        height: 20px;
        font: 0.6em sans-serif;
    }
    .button-container{
        width: 80px;
    }
    .content-container{
        width: 50%;
        font: 0.3em sans-serif;
    }
  }