.todo-list-panel{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr;
}
  
.list-filter-area{
    display: grid;
    grid-template-columns: 5fr 2fr;
    height: 50%;
    align-self: center;
}

.list-title-filter-area{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list-title-input-area{
    position: relative;
}

.list-title-urgent-filter-area{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.list-second-filter-area{
    position: relative;
}

.list-priority-filter{
    position: absolute;
    border: 0px;
    width: 100%;
    height: 100%;
    font: 1em sans-serif;
    padding-inline-start: 10px;
}
.list-priority-filter:hover{
    background-color: rgb(243, 237, 237);
}
.list-priority-filter:focus{
    outline: none;
}

.list-title-filter{
    position: absolute;
    width: 93%;
    height: 95%;
    border: 0px;
    font: 1em sans-serif;
    padding-inline-start: 10px;
}
.list-title-filter:focus{
    outline: none;
}

@media screen and (max-width: 600px) {
    .list-priority-filter{
      font: 0.5em sans-serif;
    }
    .list-title-filter{
      font: 0.5em sans-serif;
    }
}